@import '../../../styles/variables';

.rsvpHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
  .icon {
    fill: $peach;
    font-size: 5rem;
    @media screen and (min-width: 700px) {
      font-size: 6rem;
      padding-right: 1.5rem;
    }
  }
  h1 {
    font-size: 2.5rem;
    margin: 0;
    @media screen and (min-width: 700px) {
      font-size: 4rem;
    }
  }
}

#rsvp-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 700px) {
    margin: 2rem;
  }
  fieldset {
    border-radius: 1rem;
    border: 2px solid $peach;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    button {
      background-color: $peach;
      border: 0;
      margin: 0 auto;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border-radius: 1rem;
    }
    @media screen and (min-width: 700px) {
      width: 65%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
  legend {
    background-color: $peach;
    padding: 0.5rem;
    border-radius: 0.4rem;
  }
  .top {
    display: block;
    margin: 1rem 0;
    input[type=text], select, textarea {
      display: block;
      width: 80%;
      padding: 0.5rem;
      background-color: rgba(0, 0, 0, 0.1);
      color: black;
      border: solid 1px #999;
      @media screen and (min-width: 700px) {
        width: 75%;
      }
    }
    textarea {
      width: 90%;
    }
  }


  .form-dynamic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $peach;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    @media screen and (min-width: 700px) {
      width: 65%;
    }
    label {
      input, select {
        padding: 0.4rem;
        background-color: rgba(0, 0, 0, 0.1);
        color: black;
        border: solid 1px #999;
        width: 80%;
      }
    }
    button {
      border: 0;
      background-color: white;
      cursor: pointer;
      color: red;
      display: flex;
      align-items: center;
    }
  }

  button[type=submit] {
    padding: 1rem;
    margin: 0 auto;
    width: 50%;
    border: 0;
    border-radius: 2rem;
    background-color: $peach;
    cursor: pointer;
    font-size: 1.2rem;
  }
  button[type=submit]:hover {
    background-color: $lavender;
  }
}

// Success Component
.rsvpSuccessContainer {
  padding: 1rem;
  border: 2px solid $peach;
  border-radius: 1rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
  }
  h1 {
    color: $peach;
  }
  p {
    font-style: italic;
  }
}